*{
    margin: auto;
    padding: auto;
}

/* box */

.box{
    margin-top: 50px;
    background-color: rgb(174, 203, 229);
    width: 500px;
    text-align: center;
   
}
.box h2{
    text-align: center;
}

.box p{
    display: inline-block;
}

