*
{
    margin: auto;
    padding: auto;
}

.box2{
    margin-top: 50px;
    background-color: rgb(198, 229, 174);
    width: 500px;
    text-align: center;
   
}
.box2 h2{
    text-align: center;
}

.box2 p{
    display: inline-block;
}